- name: Connect HF To DS
  command: "{{ splunk_bin }} set deploy-poll https://{{ hostvars[groups['ds'][0]].ansible_host }}:8089 -auth '{{ admin_username }}':'{{ admin_password }}'"
  notify: Restart Splunk
  register: config_change

- name: Wait for Splunk management port (8089)
  wait_for:
    port: 8089
    timeout: 300
    delay: 5
  when: config_change.changed



