- name: Create /splunk_cold directory
  file:
    path: "/splunk_cold"
    state: directory
    owner: splunk
    group: splunk
    mode: '0755'

- name: Create /splunk_frozen directory
  file:
    path: "/splunk_frozen"
    state: directory
    owner: splunk
    group: splunk
    mode: '0755'


- name: Ensure clustering settings in server.conf
  blockinfile:
    path: "{{ server.conf }}"
    block: |
    [clustering]
    manager_uri = https://{{ hostvars[groups['cm'][0]].inventory_hostname }}:8089
    mode = peer
    pass4SymmKey = {{ cluster_secret }}

    [replication_port://{{ indexercluster_replication_port }}]
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    create: yes
    owner: splunk
    group: splunk
    mode: "0644"
  
  notify: Restart Splunk
  register: config_change

- name: Wait for Splunk management port (8089)
  wait_for:
    port: 8089
    timeout: 300
    delay: 5
  when: config_change.changed



