- name: Exclude hf and ds hosts
  set_fact:
    excluded_hosts: "{{ groups['hf'] | default([]) + groups['ds'] | default([]) + groups['idx'] | default([]) }}"

- name: Read IDX IPs from Ansible hosts
  set_fact:
    idx_ips: "{{ groups['idx'] | map('extract', hostvars, ['ansible_host']) | list }}"

- name: Create outputs.conf file
  copy:
    dest: /opt/splunk/etc/system/local/outputs.conf
    content: |
    [tcpout]
    defaultGroup = idx-group
    [tcpout:idx-group]
    server = {{ idx_ips | join(':9997, ') }}:9997
    mode: '0644'
  when: inventory_hostname not in excluded_hosts
  notify: Restart Splunk
  register: config_change

- name: Wait for Splunk management port (8089)
  wait_for:
    port: 8089
    timeout: 300
    delay: 5
  when: config_change.changed




