- name: Initialize Search Head Cluster Configuration
  command: >
    {{ splunk_bin }} init shcluster-config
    -auth '{{ admin_username }}:{{ admin_password }}'
    -mgmt_uri https://{{ inventory_hostname }}:8089
    -replication_port {{ shcd_replication_port }}
    -replication_factor {{ shcd_replication_factor }}
    -conf_deploy_fetch_url https://{{ hostvars[groups['shcd'][0]].inventory_hostname }}:{{ shcd_mgmt_port }}
    -secret '{{ shcluster_secret }}'
    -shcluster_label {{ shcluster_label }}
  tags: configure_shc
  notify: Restart Splunk

- name: Connect Search Head to Cluster Master (CM)
  command: >
    {{ splunk_bin }} edit cluster-config
    -auth '{{ admin_username }}:{{ admin_password }}'
    -mode searchhead
    -manager_uri https://{{ hostvars[groups['cm'][0]].inventory_hostname }}:{{ cm_mgmt_port }}
    -secret '{{ shcluster_secret }}'
  tags: connect_to_cm
  notify: Restart Splunk
  register: config_change

- name: Wait for Splunk management port (8089)
  wait_for:
    port: 8089
    timeout: 300
    delay: 5
  when: config_change.changed




